[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
environs = "~=9.0"
redis = "*"
betterlogging = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
